<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{path('carnet_adresse')}}">Les Carnets d'adresse !</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor02">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link " href="{{path('carnet_adresse')}}">Accueil
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link " href="">Afficher les contacts
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('contact_create')}}">Ajouter un contact</a>
							</li>
						</ul>
            <form class="d-flex">
							<input class="form-control me-sm-2" type="text" placeholder="Search">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
						</form>
            <ul class="navbar-nav ml-auto"> 
              <li class="nav-item">
                <a href="#" class="nav-link">Mon compte !</a>
              </li>
            </ul>
						
					</div>
				</div>
			</nav>

		{% for label, messages in app.flashes %}
			<div class="container">
				<div class="alert alert-{{label}}">
					{% for message in messages %}
						<p>{{ message | raw }}</p>
					{% endfor %}
				</div>
			</div>	
		{% endfor %}